<header>
  <div class="container-first">
    <a routerLink="employees" class="nav-link" routerLinkActive="active"
      > Employee List</a
    >
    <h1>Employee Management System</h1>
    <a routerLink="create-employee" class="nav-link" routerLinkActive="active"
      >Add Employee</a  
    >
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2023 @AdityaAndAmrender</span>
  </div>
</footer>
